@import "tailwindcss";

:root {
  --background: #030014;
  --foreground: #ffffff;
  --primary: #7042f88b;
  --secondary: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #030014; }
::-webkit-scrollbar-thumb { background: #2a2a4a; border-radius: 4px; }