@import "tailwindcss";


@keyframes shine {
  0% { left: -100%; }
  100% { left: 100%; }
}

@keyframes shine {
  0% { left: -100%; opacity: 0; }
  50% { opacity: 0.5; }
  100% { left: 200%; opacity: 0; }
}